<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.random1</key>
	<string>A_.random1.glif</string>
	<key>A.random2</key>
	<string>A_.random2.glif</string>
	<key>A.sc</key>
	<string>A_.sc.glif</string>
	<key>A.swash</key>
	<string>A_.swash.glif</string>
	<key>A.title</key>
	<string>A_.title.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.random1</key>
	<string>B_.random1.glif</string>
	<key>B.random2</key>
	<string>B_.random2.glif</string>
	<key>B.sc</key>
	<string>B_.sc.glif</string>
	<key>B.swash</key>
	<string>B_.swash.glif</string>
	<key>B.title</key>
	<string>B_.title.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.random1</key>
	<string>C_.random1.glif</string>
	<key>C.random2</key>
	<string>C_.random2.glif</string>
	<key>C.sc</key>
	<string>C_.sc.glif</string>
	<key>C.swash</key>
	<string>C_.swash.glif</string>
	<key>C.title</key>
	<string>C_.title.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.random1</key>
	<string>D_.random1.glif</string>
	<key>D.random2</key>
	<string>D_.random2.glif</string>
	<key>D.sc</key>
	<string>D_.sc.glif</string>
	<key>D.swash</key>
	<string>D_.swash.glif</string>
	<key>D.title</key>
	<string>D_.title.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.random1</key>
	<string>E_.random1.glif</string>
	<key>E.random2</key>
	<string>E_.random2.glif</string>
	<key>E.sc</key>
	<string>E_.sc.glif</string>
	<key>E.swash</key>
	<string>E_.swash.glif</string>
	<key>E.title</key>
	<string>E_.title.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.random1</key>
	<string>F_.random1.glif</string>
	<key>F.random2</key>
	<string>F_.random2.glif</string>
	<key>F.sc</key>
	<string>F_.sc.glif</string>
	<key>F.swash</key>
	<string>F_.swash.glif</string>
	<key>F.title</key>
	<string>F_.title.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.random1</key>
	<string>G_.random1.glif</string>
	<key>G.random2</key>
	<string>G_.random2.glif</string>
	<key>G.sc</key>
	<string>G_.sc.glif</string>
	<key>G.swash</key>
	<string>G_.swash.glif</string>
	<key>G.title</key>
	<string>G_.title.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.random1</key>
	<string>H_.random1.glif</string>
	<key>H.random2</key>
	<string>H_.random2.glif</string>
	<key>H.sc</key>
	<string>H_.sc.glif</string>
	<key>H.swash</key>
	<string>H_.swash.glif</string>
	<key>H.title</key>
	<string>H_.title.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.random1</key>
	<string>I_.random1.glif</string>
	<key>I.random2</key>
	<string>I_.random2.glif</string>
	<key>I.sc</key>
	<string>I_.sc.glif</string>
	<key>I.swash</key>
	<string>I_.swash.glif</string>
	<key>I.title</key>
	<string>I_.title.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>IJ.dutch</key>
	<string>IJ_.dutch.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.alt</key>
	<string>J_.alt.glif</string>
	<key>J.random1</key>
	<string>J_.random1.glif</string>
	<key>J.random2</key>
	<string>J_.random2.glif</string>
	<key>J.sc</key>
	<string>J_.sc.glif</string>
	<key>J.scalt</key>
	<string>J_.scalt.glif</string>
	<key>J.swash</key>
	<string>J_.swash.glif</string>
	<key>J.title</key>
	<string>J_.title.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.random1</key>
	<string>K_.random1.glif</string>
	<key>K.random2</key>
	<string>K_.random2.glif</string>
	<key>K.sc</key>
	<string>K_.sc.glif</string>
	<key>K.swash</key>
	<string>K_.swash.glif</string>
	<key>K.title</key>
	<string>K_.title.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.random1</key>
	<string>L_.random1.glif</string>
	<key>L.random2</key>
	<string>L_.random2.glif</string>
	<key>L.sc</key>
	<string>L_.sc.glif</string>
	<key>L.swash</key>
	<string>L_.swash.glif</string>
	<key>L.title</key>
	<string>L_.title.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.random1</key>
	<string>M_.random1.glif</string>
	<key>M.random2</key>
	<string>M_.random2.glif</string>
	<key>M.sc</key>
	<string>M_.sc.glif</string>
	<key>M.swash</key>
	<string>M_.swash.glif</string>
	<key>M.title</key>
	<string>M_.title.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.random1</key>
	<string>N_.random1.glif</string>
	<key>N.random2</key>
	<string>N_.random2.glif</string>
	<key>N.sc</key>
	<string>N_.sc.glif</string>
	<key>N.swash</key>
	<string>N_.swash.glif</string>
	<key>N.title</key>
	<string>N_.title.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.random1</key>
	<string>O_.random1.glif</string>
	<key>O.random2</key>
	<string>O_.random2.glif</string>
	<key>O.sc</key>
	<string>O_.sc.glif</string>
	<key>O.swash</key>
	<string>O_.swash.glif</string>
	<key>O.title</key>
	<string>O_.title.glif</string>
	<key>O_O</key>
	<string>O__O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.random1</key>
	<string>P_.random1.glif</string>
	<key>P.random2</key>
	<string>P_.random2.glif</string>
	<key>P.sc</key>
	<string>P_.sc.glif</string>
	<key>P.swash</key>
	<string>P_.swash.glif</string>
	<key>P.title</key>
	<string>P_.title.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.random1</key>
	<string>Q_.random1.glif</string>
	<key>Q.random2</key>
	<string>Q_.random2.glif</string>
	<key>Q.sc</key>
	<string>Q_.sc.glif</string>
	<key>Q.swash</key>
	<string>Q_.swash.glif</string>
	<key>Q.title</key>
	<string>Q_.title.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.random1</key>
	<string>R_.random1.glif</string>
	<key>R.random2</key>
	<string>R_.random2.glif</string>
	<key>R.sc</key>
	<string>R_.sc.glif</string>
	<key>R.swash</key>
	<string>R_.swash.glif</string>
	<key>R.title</key>
	<string>R_.title.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.random1</key>
	<string>S_.random1.glif</string>
	<key>S.random2</key>
	<string>S_.random2.glif</string>
	<key>S.sc</key>
	<string>S_.sc.glif</string>
	<key>S.swash</key>
	<string>S_.swash.glif</string>
	<key>S.title</key>
	<string>S_.title.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.random1</key>
	<string>T_.random1.glif</string>
	<key>T.random2</key>
	<string>T_.random2.glif</string>
	<key>T.sc</key>
	<string>T_.sc.glif</string>
	<key>T.swash</key>
	<string>T_.swash.glif</string>
	<key>T.title</key>
	<string>T_.title.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.random1</key>
	<string>U_.random1.glif</string>
	<key>U.random2</key>
	<string>U_.random2.glif</string>
	<key>U.sc</key>
	<string>U_.sc.glif</string>
	<key>U.swash</key>
	<string>U_.swash.glif</string>
	<key>U.title</key>
	<string>U_.title.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.random1</key>
	<string>V_.random1.glif</string>
	<key>V.random2</key>
	<string>V_.random2.glif</string>
	<key>V.sc</key>
	<string>V_.sc.glif</string>
	<key>V.swash</key>
	<string>V_.swash.glif</string>
	<key>V.title</key>
	<string>V_.title.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.random1</key>
	<string>W_.random1.glif</string>
	<key>W.random2</key>
	<string>W_.random2.glif</string>
	<key>W.sc</key>
	<string>W_.sc.glif</string>
	<key>W.swash</key>
	<string>W_.swash.glif</string>
	<key>W.title</key>
	<string>W_.title.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.random1</key>
	<string>X_.random1.glif</string>
	<key>X.random2</key>
	<string>X_.random2.glif</string>
	<key>X.sc</key>
	<string>X_.sc.glif</string>
	<key>X.swash</key>
	<string>X_.swash.glif</string>
	<key>X.title</key>
	<string>X_.title.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.random1</key>
	<string>Y_.random1.glif</string>
	<key>Y.random2</key>
	<string>Y_.random2.glif</string>
	<key>Y.sc</key>
	<string>Y_.sc.glif</string>
	<key>Y.swash</key>
	<string>Y_.swash.glif</string>
	<key>Y.title</key>
	<string>Y_.title.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.random1</key>
	<string>Z_.random1.glif</string>
	<key>Z.random2</key>
	<string>Z_.random2.glif</string>
	<key>Z.sc</key>
	<string>Z_.sc.glif</string>
	<key>Z.swash</key>
	<string>Z_.swash.glif</string>
	<key>Z.title</key>
	<string>Z_.title.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.uc</key>
	<string>at.uc.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.den</key>
	<string>eight.den.glif</string>
	<key>eight.num</key>
	<string>eight.num.glif</string>
	<key>eight.old</key>
	<string>eight.old.glif</string>
	<key>eight.oldtab</key>
	<string>eight.oldtab.glif</string>
	<key>eight.sc</key>
	<string>eight.sc.glif</string>
	<key>eight.sub</key>
	<string>eight.sub.glif</string>
	<key>eight.sup</key>
	<string>eight.sup.glif</string>
	<key>eight.tab</key>
	<string>eight.tab.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.uc</key>
	<string>exclamdown.uc.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_i</key>
	<string>f_i.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.den</key>
	<string>five.den.glif</string>
	<key>five.num</key>
	<string>five.num.glif</string>
	<key>five.old</key>
	<string>five.old.glif</string>
	<key>five.oldtab</key>
	<string>five.oldtab.glif</string>
	<key>five.sc</key>
	<string>five.sc.glif</string>
	<key>five.sub</key>
	<string>five.sub.glif</string>
	<key>five.sup</key>
	<string>five.sup.glif</string>
	<key>five.tab</key>
	<string>five.tab.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.den</key>
	<string>four.den.glif</string>
	<key>four.num</key>
	<string>four.num.glif</string>
	<key>four.old</key>
	<string>four.old.glif</string>
	<key>four.oldtab</key>
	<string>four.oldtab.glif</string>
	<key>four.sc</key>
	<string>four.sc.glif</string>
	<key>four.sub</key>
	<string>four.sub.glif</string>
	<key>four.sup</key>
	<string>four.sup.glif</string>
	<key>four.tab</key>
	<string>four.tab.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.den</key>
	<string>nine.den.glif</string>
	<key>nine.num</key>
	<string>nine.num.glif</string>
	<key>nine.old</key>
	<string>nine.old.glif</string>
	<key>nine.oldtab</key>
	<string>nine.oldtab.glif</string>
	<key>nine.sc</key>
	<string>nine.sc.glif</string>
	<key>nine.sub</key>
	<string>nine.sub.glif</string>
	<key>nine.sup</key>
	<string>nine.sup.glif</string>
	<key>nine.tab</key>
	<string>nine.tab.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.den</key>
	<string>one.den.glif</string>
	<key>one.num</key>
	<string>one.num.glif</string>
	<key>one.old</key>
	<string>one.old.glif</string>
	<key>one.oldtab</key>
	<string>one.oldtab.glif</string>
	<key>one.sc</key>
	<string>one.sc.glif</string>
	<key>one.sub</key>
	<string>one.sub.glif</string>
	<key>one.sup</key>
	<string>one.sup.glif</string>
	<key>one.tab</key>
	<string>one.tab.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.uc</key>
	<string>questiondown.uc.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.den</key>
	<string>seven.den.glif</string>
	<key>seven.num</key>
	<string>seven.num.glif</string>
	<key>seven.old</key>
	<string>seven.old.glif</string>
	<key>seven.oldtab</key>
	<string>seven.oldtab.glif</string>
	<key>seven.sc</key>
	<string>seven.sc.glif</string>
	<key>seven.sub</key>
	<string>seven.sub.glif</string>
	<key>seven.sup</key>
	<string>seven.sup.glif</string>
	<key>seven.tab</key>
	<string>seven.tab.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.den</key>
	<string>six.den.glif</string>
	<key>six.num</key>
	<string>six.num.glif</string>
	<key>six.old</key>
	<string>six.old.glif</string>
	<key>six.oldtab</key>
	<string>six.oldtab.glif</string>
	<key>six.sc</key>
	<string>six.sc.glif</string>
	<key>six.sub</key>
	<string>six.sub.glif</string>
	<key>six.sup</key>
	<string>six.sup.glif</string>
	<key>six.tab</key>
	<string>six.tab.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.den</key>
	<string>three.den.glif</string>
	<key>three.num</key>
	<string>three.num.glif</string>
	<key>three.old</key>
	<string>three.old.glif</string>
	<key>three.oldtab</key>
	<string>three.oldtab.glif</string>
	<key>three.sc</key>
	<string>three.sc.glif</string>
	<key>three.sub</key>
	<string>three.sub.glif</string>
	<key>three.sup</key>
	<string>three.sup.glif</string>
	<key>three.tab</key>
	<string>three.tab.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.den</key>
	<string>two.den.glif</string>
	<key>two.num</key>
	<string>two.num.glif</string>
	<key>two.old</key>
	<string>two.old.glif</string>
	<key>two.oldtab</key>
	<string>two.oldtab.glif</string>
	<key>two.sc</key>
	<string>two.sc.glif</string>
	<key>two.sub</key>
	<string>two.sub.glif</string>
	<key>two.sup</key>
	<string>two.sup.glif</string>
	<key>two.tab</key>
	<string>two.tab.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.den</key>
	<string>zero.den.glif</string>
	<key>zero.num</key>
	<string>zero.num.glif</string>
	<key>zero.old</key>
	<string>zero.old.glif</string>
	<key>zero.oldtab</key>
	<string>zero.oldtab.glif</string>
	<key>zero.sc</key>
	<string>zero.sc.glif</string>
	<key>zero.sub</key>
	<string>zero.sub.glif</string>
	<key>zero.sup</key>
	<string>zero.sup.glif</string>
	<key>zero.tab</key>
	<string>zero.tab.glif</string>
</dict>
</plist>
