<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.A.sc</key>
	<array>
		<string>A.sc</string>
		<string>Aacute.sc</string>
		<string>Abreve.sc</string>
		<string>Acircumflex.sc</string>
		<string>Adieresis.sc</string>
		<string>Agrave.sc</string>
		<string>Amacron.sc</string>
		<string>Aogonek.sc</string>
		<string>Aring.sc</string>
		<string>Atilde.sc</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
	</array>
	<key>public.kern1.C.sc</key>
	<array>
		<string>C.sc</string>
		<string>Cacute.sc</string>
		<string>Ccaron.sc</string>
		<string>Ccedilla.sc</string>
		<string>Cdotaccent.sc</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>OE</string>
	</array>
	<key>public.kern1.E.sc</key>
	<array>
		<string>AE.sc</string>
		<string>AEacute.sc</string>
		<string>E.sc</string>
		<string>Eacute.sc</string>
		<string>Ebreve.sc</string>
		<string>Ecaron.sc</string>
		<string>Ecircumflex.sc</string>
		<string>Edieresis.sc</string>
		<string>Edotaccent.sc</string>
		<string>Egrave.sc</string>
		<string>Emacron.sc</string>
		<string>Eogonek.sc</string>
		<string>uni1EBC.sc</string>
		<string>OE.sc</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.G.sc</key>
	<array>
		<string>G.sc</string>
		<string>Gbreve.sc</string>
		<string>uni0122.sc</string>
		<string>Gdotaccent.sc</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>Eng</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.H.sc</key>
	<array>
		<string>Eng.sc</string>
		<string>H.sc</string>
		<string>Hbar.sc</string>
		<string>I.sc</string>
		<string>Iacute.sc</string>
		<string>Ibreve.sc</string>
		<string>Icircumflex.sc</string>
		<string>Idieresis.sc</string>
		<string>Idotaccent.sc</string>
		<string>Igrave.sc</string>
		<string>Imacron.sc</string>
		<string>Iogonek.sc</string>
		<string>Itilde.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>Nacute.sc</string>
		<string>Ncaron.sc</string>
		<string>uni0145.sc</string>
		<string>Ntilde.sc</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>IJ</string>
		<string>IJ.alt</string>
		<string>J</string>
		<string>J.alt</string>
	</array>
	<key>public.kern1.J.sc</key>
	<array>
		<string>IJ.sc</string>
		<string>IJ.scalt</string>
		<string>J.sc</string>
		<string>J.scalt</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>public.kern1.K.sc</key>
	<array>
		<string>K.sc</string>
		<string>uni0136.sc</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.L.sc</key>
	<array>
		<string>L.sc</string>
		<string>Lacute.sc</string>
		<string>Lcaron.sc</string>
		<string>uni013B.sc</string>
		<string>Ldot.sc</string>
		<string>Lslash.sc</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.O.sc</key>
	<array>
		<string>D.sc</string>
		<string>Dcaron.sc</string>
		<string>Dcroat.sc</string>
		<string>Eth.sc</string>
		<string>O.sc</string>
		<string>Oacute.sc</string>
		<string>Obreve.sc</string>
		<string>Ocircumflex.sc</string>
		<string>Odieresis.sc</string>
		<string>Ograve.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>Omacron.sc</string>
		<string>Oslash.sc</string>
		<string>Otilde.sc</string>
		<string>Q.sc</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>public.kern1.R.sc</key>
	<array>
		<string>R.sc</string>
		<string>Racute.sc</string>
		<string>Rcaron.sc</string>
		<string>uni0156.sc</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
	</array>
	<key>public.kern1.S.sc</key>
	<array>
		<string>S.sc</string>
		<string>Sacute.sc</string>
		<string>Scaron.sc</string>
		<string>Scedilla.sc</string>
		<string>uni0218.sc</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>public.kern1.T.sc</key>
	<array>
		<string>T.sc</string>
		<string>Tbar.sc</string>
		<string>Tcaron.sc</string>
		<string>uni021A.sc</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.U.sc</key>
	<array>
		<string>U.sc</string>
		<string>Uacute.sc</string>
		<string>Ubreve.sc</string>
		<string>Ucircumflex.sc</string>
		<string>Udieresis.sc</string>
		<string>Ugrave.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>Umacron.sc</string>
		<string>Uogonek.sc</string>
		<string>Uring.sc</string>
		<string>Utilde.sc</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.W.sc</key>
	<array>
		<string>W.sc</string>
		<string>Wacute.sc</string>
		<string>Wcircumflex.sc</string>
		<string>Wdieresis.sc</string>
		<string>Wgrave.sc</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>public.kern1.Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>Yacute.sc</string>
		<string>Ycircumflex.sc</string>
		<string>Ydieresis.sc</string>
		<string>Ygrave.sc</string>
		<string>uni1EF8.sc</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.Z.sc</key>
	<array>
		<string>Z.sc</string>
		<string>Zacute.sc</string>
		<string>Zcaron.sc</string>
		<string>Zdotaccent.sc</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.copyright</key>
	<array>
		<string>uni24C5</string>
		<string>copyright</string>
	</array>
	<key>public.kern1.copyright.sc</key>
	<array>
		<string>uni24C5.sc</string>
		<string>copyright.sc</string>
	</array>
	<key>public.kern1.dagger</key>
	<array>
		<string>dagger</string>
		<string>daggerdbl</string>
	</array>
	<key>public.kern1.dagger.sc</key>
	<array>
		<string>dagger.sc</string>
		<string>daggerdbl.sc</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern1.guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guillemotleft.sc</key>
	<array>
		<string>guillemotleft.sc</string>
		<string>guilsinglleft.sc</string>
	</array>
	<key>public.kern1.guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.guillemotright.sc</key>
	<array>
		<string>guillemotright.sc</string>
		<string>guilsinglright.sc</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>public.kern1.hyphen.sc</key>
	<array>
		<string>emdash.sc</string>
		<string>endash.sc</string>
		<string>hyphen.sc</string>
	</array>
	<key>public.kern1.j</key>
	<array>
		<string>ij</string>
		<string>j</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>i</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>lslash</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>eng</string>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>uni1EBD</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.ordmasculine</key>
	<array>
		<string>ordmasculine</string>
		<string>ordmasculine.uc</string>
	</array>
	<key>public.kern1.ordmasculine.sc</key>
	<array>
		<string>ordmasculine.sc</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>braceleft</string>
		<string>bracketleft</string>
		<string>parenleft</string>
	</array>
	<key>public.kern1.parenleft.sc</key>
	<array>
		<string>braceleft.sc</string>
		<string>bracketleft.sc</string>
		<string>parenleft.sc</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.quotedbl.sc</key>
	<array>
		<string>quotedbl.sc</string>
		<string>quotesingle.sc</string>
	</array>
	<key>public.kern1.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.quoteleft.sc</key>
	<array>
		<string>quotedblleft.sc</string>
		<string>quoteleft.sc</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.quoteright.sc</key>
	<array>
		<string>quotedblright.sc</string>
		<string>quoteright.sc</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni021B</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>eight</string>
		<string>three</string>
	</array>
	<key>public.kern1.three.den</key>
	<array>
		<string>eight.den</string>
		<string>three.den</string>
	</array>
	<key>public.kern1.three.num</key>
	<array>
		<string>eight.num</string>
		<string>three.num</string>
	</array>
	<key>public.kern1.three.sc</key>
	<array>
		<string>eight.sc</string>
		<string>three.sc</string>
	</array>
	<key>public.kern1.trademark</key>
	<array>
		<string>uni2120</string>
		<string>trademark</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>dotlessi</string>
		<string>uni0237</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>uni1EF9</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>nine</string>
		<string>zero</string>
	</array>
	<key>public.kern1.zero.den</key>
	<array>
		<string>nine.den</string>
		<string>zero.den</string>
	</array>
	<key>public.kern1.zero.num</key>
	<array>
		<string>nine.num</string>
		<string>zero.num</string>
	</array>
	<key>public.kern1.zero.sc</key>
	<array>
		<string>nine.sc</string>
		<string>zero.sc</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern2.A.sc</key>
	<array>
		<string>A.sc</string>
		<string>Aacute.sc</string>
		<string>Abreve.sc</string>
		<string>Acircumflex.sc</string>
		<string>Adieresis.sc</string>
		<string>Agrave.sc</string>
		<string>Amacron.sc</string>
		<string>Aogonek.sc</string>
		<string>Aring.sc</string>
		<string>Atilde.sc</string>
	</array>
	<key>public.kern2.AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>public.kern2.AE.sc</key>
	<array>
		<string>AE.sc</string>
		<string>AEacute.sc</string>
	</array>
	<key>public.kern2.Eth</key>
	<array>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>public.kern2.Eth.sc</key>
	<array>
		<string>Dcroat.sc</string>
		<string>Eth.sc</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>IJ.alt</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Thorn</string>
	</array>
	<key>public.kern2.H.sc</key>
	<array>
		<string>B.sc</string>
		<string>D.sc</string>
		<string>Dcaron.sc</string>
		<string>E.sc</string>
		<string>Eacute.sc</string>
		<string>Ebreve.sc</string>
		<string>Ecaron.sc</string>
		<string>Ecircumflex.sc</string>
		<string>Edieresis.sc</string>
		<string>Edotaccent.sc</string>
		<string>Egrave.sc</string>
		<string>Emacron.sc</string>
		<string>Eng.sc</string>
		<string>Eogonek.sc</string>
		<string>uni1EBC.sc</string>
		<string>F.sc</string>
		<string>H.sc</string>
		<string>Hbar.sc</string>
		<string>I.sc</string>
		<string>IJ.sc</string>
		<string>IJ.scalt</string>
		<string>Iacute.sc</string>
		<string>Ibreve.sc</string>
		<string>Icircumflex.sc</string>
		<string>Idieresis.sc</string>
		<string>Idotaccent.sc</string>
		<string>Igrave.sc</string>
		<string>Imacron.sc</string>
		<string>Iogonek.sc</string>
		<string>Itilde.sc</string>
		<string>K.sc</string>
		<string>uni0136.sc</string>
		<string>L.sc</string>
		<string>Lacute.sc</string>
		<string>Lcaron.sc</string>
		<string>uni013B.sc</string>
		<string>Ldot.sc</string>
		<string>Lslash.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>Nacute.sc</string>
		<string>Ncaron.sc</string>
		<string>uni0145.sc</string>
		<string>Ntilde.sc</string>
		<string>P.sc</string>
		<string>R.sc</string>
		<string>Racute.sc</string>
		<string>Rcaron.sc</string>
		<string>uni0156.sc</string>
		<string>Thorn.sc</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern2.O.sc</key>
	<array>
		<string>C.sc</string>
		<string>Cacute.sc</string>
		<string>Ccaron.sc</string>
		<string>Ccedilla.sc</string>
		<string>Cdotaccent.sc</string>
		<string>G.sc</string>
		<string>Gbreve.sc</string>
		<string>uni0122.sc</string>
		<string>Gdotaccent.sc</string>
		<string>O.sc</string>
		<string>OE.sc</string>
		<string>Oacute.sc</string>
		<string>Obreve.sc</string>
		<string>Ocircumflex.sc</string>
		<string>Odieresis.sc</string>
		<string>Ograve.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>Omacron.sc</string>
		<string>Oslash.sc</string>
		<string>Otilde.sc</string>
		<string>Q.sc</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
	</array>
	<key>public.kern2.S.sc</key>
	<array>
		<string>S.sc</string>
		<string>Sacute.sc</string>
		<string>Scaron.sc</string>
		<string>Scedilla.sc</string>
		<string>uni0218.sc</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>public.kern2.T.sc</key>
	<array>
		<string>T.sc</string>
		<string>Tbar.sc</string>
		<string>Tcaron.sc</string>
		<string>uni021A.sc</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.U.sc</key>
	<array>
		<string>U.sc</string>
		<string>Uacute.sc</string>
		<string>Ubreve.sc</string>
		<string>Ucircumflex.sc</string>
		<string>Udieresis.sc</string>
		<string>Ugrave.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>Umacron.sc</string>
		<string>Uogonek.sc</string>
		<string>Uring.sc</string>
		<string>Utilde.sc</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.W.sc</key>
	<array>
		<string>W.sc</string>
		<string>Wacute.sc</string>
		<string>Wcircumflex.sc</string>
		<string>Wdieresis.sc</string>
		<string>Wgrave.sc</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
	</array>
	<key>public.kern2.Y.sc</key>
	<array>
		<string>Y.sc</string>
		<string>Yacute.sc</string>
		<string>Ycircumflex.sc</string>
		<string>Ydieresis.sc</string>
		<string>Ygrave.sc</string>
		<string>uni1EF8.sc</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.Z.sc</key>
	<array>
		<string>Z.sc</string>
		<string>Zacute.sc</string>
		<string>Zcaron.sc</string>
		<string>Zdotaccent.sc</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.copyright</key>
	<array>
		<string>uni24C5</string>
		<string>copyright</string>
	</array>
	<key>public.kern2.copyright.sc</key>
	<array>
		<string>uni24C5.sc</string>
		<string>copyright.sc</string>
	</array>
	<key>public.kern2.dagger</key>
	<array>
		<string>dagger</string>
		<string>daggerdbl</string>
	</array>
	<key>public.kern2.dagger.sc</key>
	<array>
		<string>dagger.sc</string>
		<string>daggerdbl.sc</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>f_i</string>
		<string>f_l</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
	</array>
	<key>public.kern2.guillemotleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guillemotleft.sc</key>
	<array>
		<string>guillemotleft.sc</string>
		<string>guilsinglleft.sc</string>
	</array>
	<key>public.kern2.guillemotright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.guillemotright.sc</key>
	<array>
		<string>guillemotright.sc</string>
		<string>guilsinglright.sc</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>public.kern2.hyphen.sc</key>
	<array>
		<string>emdash.sc</string>
		<string>endash.sc</string>
		<string>hyphen.sc</string>
	</array>
	<key>public.kern2.l</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>ij</string>
		<string>j</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>thorn</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>dotlessi</string>
		<string>uni0237</string>
		<string>eng</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>uni1EBD</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
	</array>
	<key>public.kern2.ordmasculine</key>
	<array>
		<string>ordmasculine</string>
		<string>ordmasculine.uc</string>
	</array>
	<key>public.kern2.ordmasculine.sc</key>
	<array>
		<string>ordmasculine.sc</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>braceright</string>
		<string>bracketright</string>
		<string>parenright</string>
	</array>
	<key>public.kern2.parenright.sc</key>
	<array>
		<string>braceright.sc</string>
		<string>bracketright.sc</string>
		<string>parenright.sc</string>
	</array>
	<key>public.kern2.percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>public.kern2.percent.sc</key>
	<array>
		<string>percent.sc</string>
		<string>perthousand.sc</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.quotedbl.sc</key>
	<array>
		<string>quotedbl.sc</string>
		<string>quotesingle.sc</string>
	</array>
	<key>public.kern2.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.quoteleft.sc</key>
	<array>
		<string>quotedblleft.sc</string>
		<string>quoteleft.sc</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.quoteright.sc</key>
	<array>
		<string>quotedblright.sc</string>
		<string>quoteright.sc</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni021B</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>uni1EF9</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>six</string>
		<string>zero</string>
	</array>
	<key>public.kern2.zero.den</key>
	<array>
		<string>six.den</string>
		<string>zero.den</string>
	</array>
	<key>public.kern2.zero.num</key>
	<array>
		<string>six.num</string>
		<string>zero.num</string>
	</array>
	<key>public.kern2.zero.sc</key>
	<array>
		<string>six.sc</string>
		<string>zero.sc</string>
	</array>
</dict>
</plist>
