---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// ------
// Colors
// ------

$blue: rgb(10, 120, 160);
$blue-dark: rgb(0, 30, 60);
$yellow: rgb(230, 250, 130);
$yellow-light: rgb(250, 255, 225);
$green: rgb(0, 150, 50);
$red: rgb(245, 100, 100);;


// ----
// Text
// ----

$base-font-family: 'Queue Web', sans-serif;
$base-font-size: 15px;
$base-font-weight: 300;
$base-line-height: 23px;

$text-color:       #000;
$background-color: #fff;


// -----------------
// Code Highlighting
// -----------------

// comment
$highlight-comment: rgba(0, 0, 0, 0.6);
// feature, lookup
$highlight-namespace: $blue;
// keyword
$highlight-keyword: $blue;
// token
$highlight-punctuation: black;
// contextual target marker
$highlight-tag: $green;
// feature name, lookup name
$highlight-class: $highlight-tag;
// glyph name
$highlight-name: $highlight-punctuation;
// class name
$highlight-function: $red;
// string
$highlight-string: black;
// number
$highlight-number: black;

// -------------------
// Partials from _sass
// -------------------

@import url("http://static.typesupply.com/opentype-cookbook/fonts.css");

@import
	"base",
	"syntax-highlighting"
;
