@font-face {
  font-family: "Queue";
  src: url("../fonts/queue-light.woff") format("woff"), url("../fonts/queue-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Queue";
  src: url("../fonts/queue-bold.woff") format("woff"), url("../fonts/queue-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  font: 16px/21px 'Queue', sans-serif;
  color: #000000; }

header {
  height: 118px;
  padding: 0;
  margin: 0;
  position: relative;
  background: #0a78a0 url("../furniture/header_arrow.png") no-repeat right center; }
  header h1 {
    height: 118px;
    width: 860px;
    margin: 0 auto; }
    header h1 a {
      width: 588px;
      height: 100%;
      display: block;
      float: right;
      margin-right: 20px;
      background: #0a78a0 url("../furniture/opentype_cookbook_header.png") no-repeat right center;
      text-indent: -9999px; }
  header h2 {
    margin: 0 auto;
    position: relative;
    top: -35px;
    left: 8px;
    width: 860px;
    color: #e6fa82;
    font-weight: normal;
    font-size: 14px;
    text-align: right; }

#wrapper {
  width: 860px;
  margin: 0 auto 30px;
  overflow: hidden; }

nav {
  width: 221px;
  padding: 22px 0;
  float: left;
  position: fixed;
  top: 92px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #e6fa82; }
  nav ul {
    padding: 0;
    margin: 0 24px; }
    nav ul li {
      list-style: none inside;
      font: 16px/32px 'Queue', sans-serif;
      color: #0a78a0;
      border-bottom: 1px solid #ffffff; }
      nav ul li:last-child {
        border-bottom: 0 none; }
      nav ul li.active {
        font-weight: bold; }
      nav ul li a {
        color: #0a78a0;
        text-decoration: none; }

article {
  width: 600px;
  float: right; }
  article h1, article h2, article h3, article h4 {
    color: #0a78a0;
    margin-bottom: 0; }
  article h1 {
    font-size: 40px;
    line-height: 30px; }
  article h2 {
    font-size: 30px;
    line-height: 30px; }
  article h3 {
    font-size: 25px;
    line-height: 30px; }
  article h4 {
    font-size: 16px;
    line-height: 30px; }
  article a {
    color: #0a78a0;
    font-weight: bold;
    text-decoration: none; }
    article a:hover {
      text-decoration: underline; }

footer {
  background: transparent url("../furniture/footer_arrow.png") no-repeat right top; }
  footer a {
    margin: 0 20px;
    padding: 0 20px;
    background-color: #ffffff; }
