@charset "UTF-8";
@font-face {
  font-family: "Queue";
  src: url("../fonts/queue-light.woff") format("woff"), url("../fonts/queue-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Queue";
  src: url("../fonts/queue-bold.woff") format("woff"), url("../fonts/queue-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

html {
  height: 100%; }

body {
  font: 16px/21px 'Queue', sans-serif;
  color: #000000;
  height: 100%; }

#wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff; }

header {
  height: 118px;
  padding: 0;
  margin: 0;
  position: relative;
  background: #0a78a0 url("../furniture/header_arrow.png") no-repeat right center; }
  header h1 {
    height: 118px;
    width: 860px;
    margin: 0 auto; }
    header h1 a {
      width: 588px;
      height: 100%;
      display: block;
      float: right;
      margin-right: 20px;
      background: #0a78a0 url("../furniture/opentype_cookbook_header.png") no-repeat right center;
      text-indent: -9999px; }
  header h2 {
    position: relative;
    top: -47px;
    margin-left: 770px;
    color: #e6fa82;
    font-weight: normal;
    font-size: 14px;
    text-align: center; }

#menu_toggle {
  display: none; }

#nav_wrapper {
  width: 920px;
  margin: 0 auto;
  padding-left: 30px;
  box-sizing: border-box; }

nav {
  width: 221px;
  padding: 22px 0;
  position: fixed;
  top: 92px;
  z-index: 2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #e6fa82; }
  nav ul {
    padding: 0;
    margin: 0 24px; }
    nav ul li {
      list-style: none inside;
      font: 16px/32px 'Queue', sans-serif;
      color: #0a78a0;
      border-bottom: 1px solid #ffffff; }
      nav ul li:last-child {
        border-bottom: 0 none; }
      nav ul li.active {
        font-weight: bold; }
      nav ul li a {
        display: block;
        color: #0a78a0;
        text-decoration: none; }
        nav ul li a:hover {
          font-weight: bold; }
  nav #menu_close {
    display: none; }

article {
  width: 580px;
  position: relative;
  left: 0;
  margin: 0 auto;
  padding-left: 250px;
  background-color: #ffffff; }
  article h1, article h2, article h3, article h4 {
    color: #0a78a0;
    margin-bottom: 0; }
  article h1 {
    font-size: 40px;
    line-height: 30px; }
  article h2 {
    font-size: 30px;
    line-height: 30px; }
  article h3 {
    font-size: 25px;
    line-height: 30px; }
  article h4 {
    font-size: 16px;
    line-height: 30px; }
  article a {
    color: #0a78a0;
    font-weight: bold;
    text-decoration: none; }
    article a:hover {
      text-decoration: underline; }
  article code {
    font-family: 'Queue', sans-serif;
    color: #0a78a0; }
  article ol {
    padding-left: 1.5em;
    list-style-type: none;
    counter-reset: li-counter; }
    article ol > li {
      position: relative;
      padding-left: 0.5em; }
      article ol > li:before {
        position: absolute;
        top: 0;
        left: -1.5em;
        width: 1.5em;
        display: block;
        text-align: right;
        font-weight: bold;
        color: #0a78a0;
        content: counter(li-counter) ".";
        counter-increment: li-counter; }
  article ul {
    padding-left: 1.5em;
    list-style-type: none; }
    article ul > li {
      position: relative;
      padding-left: 0.5em; }
      article ul > li:before {
        position: absolute;
        top: 0;
        left: -1.8em;
        width: 1.5em;
        display: block;
        text-align: right;
        color: #0a78a0;
        content: "•"; }
  article .highlight pre {
    font-family: 'Queue', sans-serif; }

footer {
  background: transparent url("../furniture/footer_arrow.png") no-repeat right top; }
  footer a {
    margin: 0 20px;
    padding: 0 20px;
    background-color: #ffffff; }

@media only screen and (max-width: 920px) {
  .no-js header, .no-js #nav_wrapper, .no-js #wrapper {
    min-width: 920px; }
  .no-js nav {
    position: absolute; }

  .js .loaded header, .js .loaded nav, .js .loaded article {
    transition: left 0.2s;
    -moz-transition: left 0.2s;
    /* Firefox */
    -webkit-transition: left 0.2s;
    /* Safari and Chrome */
    -o-transition: left 0.2s;
    /* Opera */ }
  .js #wrapper {
    position: relative;
    width: 100%; }
  .js header {
    width: 100%;
    top: 0;
    left: 0; }
    .js header h1 {
      width: auto;
      text-align: center; }
      .js header h1 a {
        display: inline-block;
        float: none; }
    .js header h2 {
      margin-left: 520px; }
  .js .open-flyout article, .js .open-flyout header {
    left: 221px; }
  .js .open-flyout nav {
    left: 0; }
  .js #menu_toggle {
    position: fixed;
    left: 50%;
    top: 70px;
    margin-left: -374px;
    display: block;
    width: 56px;
    height: 39px;
    padding: 0;
    background: transparent url("../furniture/nav_menu.png") no-repeat left top;
    -webkit-background-size: 56px, 39px;
    -o-background-size: 56px, 39px;
    background-size: 56px, 39px; }
  .js nav {
    top: 0px;
    left: -221px;
    margin-left: 0;
    height: 100%;
    position: fixed;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
    .js nav #menu_close {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      text-decoration: none;
      font-weight: bold;
      color: #0a78a0;
      font-size: 24px; }
  .js article {
    margin: 0 auto;
    padding-left: 0;
    float: none;
    overflow: hidden;
    left: 0;
    top: 0;
    position: relative; } }
@media only screen and (max-width: 660px) {
  .js header {
    height: 118px;
    background-position: center center; }
    .js header h1 {
      height: 118px;
      width: 100%; }
      .js header h1 a {
        width: 90%;
        height: 100%;
        float: none;
        margin-right: 0;
        background: #0a78a0 url("../furniture/opentype_cookbook_header.png") no-repeat center center;
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        text-indent: -9999px; }
    .js header h2 {
      display: none;
      position: relative;
      top: -47px;
      color: #e6fa82;
      font-weight: normal;
      font-size: 14px;
      text-align: center; }
  .js article {
    width: auto;
    margin-left: 20px;
    margin-right: 20px; } }
.highlight .hll {
  background-color: #49483e; }

.highlight {
  background: #272822;
  color: #f8f8f2; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
