#menu_toggle {
    position: absolute;
    margin-left: 10px;
    left: 0;
}

header {
    height: 118px;
    background-position: center center;

    h1 {
        height: 118px;
        width: 100%;

        text-align: left;

        a {
            height: 100%;
            float: none;
            margin-left: 80px;
            margin-right: 0;
        }
    }
    h2 {
        display: none;
        // position: relative;
        // top: -47px;

        // color: $yellow;
        // font-weight: normal;
        // font-size: 14px;
        // text-align: center;
    }
}
@media only screen and (max-width: 620px) {
    article {
        width: auto;
        margin-left:20px;
        margin-right: 20px;
    }
}
