header {
    height: 118px;
    background-position: center center;

    h1 {
        height: 118px;
        width: 100%;

        a {
            width: 90%;
            height: 100%;
            float: none;
            margin-right: 0;

            background: $main url('../furniture/opentype_cookbook_header.png') no-repeat center center;
            -webkit-background-size: contain;
            -o-background-size: contain;
            background-size: contain;

            text-indent: -9999px;
        }
    }
    h2 {
        display: none;
        position: relative;
        top: -47px;

        color: $secondary-light;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
}

article {
    width: auto;
    margin-left:20px;
    margin-right: 20px;
}
