// COLOURS

// Main
$main: rgb(10, 120, 160);
$secondary-light: rgb(230, 250, 130);
$secondary-dark: rgb(0, 30, 60);
$code-block: rgb(250, 255, 225);

// Code Highlighting
// comment
$highlight-comment: rgba(0, 0, 0, 0.6);
// feature, lookup
$highlight-namespace: $main;
// keyword
$highlight-keyword: $main;
// token
$highlight-punctuation: black;
// contextual target marker
$highlight-tag: rgb(0, 150, 50);
// feature name, lookup name
$highlight-class: $highlight-tag;
// glyph name
$highlight-name: $highlight-punctuation;
// class name
$highlight-function: rgb(245, 100, 100);
// string
$highlight-string: black;
// number
$highlight-number: black;