// FONTS
@mixin fontface($family, $src, $weight:normal, $style:normal) {
  font-family: $family;
  src:  url('../fonts/' + $src + '.woff') format('woff'),
        url('../fonts/' + $src + '.ttf')  format('truetype');
  font-weight: $weight;
  font-style: $style;
}

@font-face {
  @include fontface('Queue', 'queue-light');
}
@font-face {
  @include fontface('Queue', 'queue-bold', bold, normal);
}

// COLOURS
$main: rgb(10, 120, 160);
$secondary-light: rgb(230, 250, 130);
$secondary-dark: rgb(0, 30, 60);
$code-block: rgb(245, 255, 200);

body {
    font: 16px/21px 'Queue', sans-serif;
    color: #000000;
}

header {
  height: 118px;
  padding: 0;
  margin: 0;
  position: relative;

  background: $main url('../furniture/header_arrow.png') no-repeat right center;

  h1 {
    height: 118px;
    width: 860px;
    margin: 0 auto;

    a {
      width: 588px;
      height: 100%;
      display: block;
      float: right;
      margin-right: 20px;

      background: $main url('../furniture/opentype_cookbook_header.png') no-repeat right center;

      text-indent: -9999px;
    }
  }
  h2 {
    margin: 0 auto;
    position: relative;
    top: -35px;
    left: 8px;
    width: 860px;

    color: $secondary-light;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
  }
}

#wrapper {
  width: 860px;
  margin: 0 auto 30px;
  overflow: hidden;
}

nav {
  width: 221px;
  padding: 22px 0;
  float: left;
  position: fixed;
  top: 92px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  background-color: $secondary-light;

  ul {
    padding: 0;
    margin: 0 24px;

    li {
      list-style: none inside;
      font: 16px/32px 'Queue', sans-serif;
      color: $main;
      border-bottom: 1px solid #ffffff;
      &:last-child {
        border-bottom: 0 none;
      }

      &.active {
        font-weight: bold;
      }

      a {
        color: $main;
        text-decoration: none;
      }
    }
  }
}

article {
    width: 600px;
    // margin-left: 250px;
    float: right;

    h1, h2, h3, h4 {
        color: $main;
        margin-bottom: 0;
    }
    h1 {
        font-size: 40px;
        line-height: 30px;
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
    h3 {
        font-size: 25px;
        line-height: 30px;
    }
    h4 {
        font-size: 16px;
        line-height: 30px;
    }

    a {
      color: $main;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
}

footer {
  background: transparent url('../furniture/footer_arrow.png') no-repeat right top;

  a {
    margin: 0 20px;
    padding: 0 20px;

    background-color: #ffffff;
  }
}
